.prayer_body{
  font-style: italic;
  font-size: 12px;
}
.hidden{
  display: none;
}
.title{
  font-weight: bold;
  text-align: center;
  margin: 30px;
}
mark{background-color: #011d73!important; color: white; padding: 1px; font-weight: bold;margin-left: 2px; margin-right: 2px;}
